USE [master]
GO
/****** Object:  Database [SDV701A2]    Script Date: 12.05.2020 22:56:41 ******/
CREATE DATABASE [SDV701A2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SDV701A2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SDV701A2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SDV701A2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SDV701A2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SDV701A2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SDV701A2]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12.05.2020 22:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](255) NOT NULL,
	[Description] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12.05.2020 22:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[PartsID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[Price] [real] NOT NULL,
	[OrderDateTime] [datetime] NOT NULL,
	[ClientName] [varchar](255) NOT NULL,
	[ClientEMail] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 12.05.2020 22:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartsID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[Currency] [varchar](3) NOT NULL,
	[WiFiStandart] [varchar](255) NULL,
	[EthernetPortType] [varchar](255) NULL,
	[NumberOfPorts] [int] NULL,
	[ClassName] [varchar](255) NOT NULL,
	[QtyInStock] [int] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[SubTypeID] [int] NOT NULL,
 CONSTRAINT [PK_parts] PRIMARY KEY CLUSTERED 
(
	[PartsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubTypes]    Script Date: 12.05.2020 22:56:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTypes](
	[SubTypeID] [int] IDENTITY(1,1) NOT NULL,
	[SubTypeName] [varchar](255) NOT NULL,
	[SubTypeDescription] [varchar](255) NOT NULL,
 CONSTRAINT [PK_SubTypes] PRIMARY KEY CLUSTERED 
(
	[SubTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (1, N'Network Cards', N'WI')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (2, N'Wireless Routers', N'WS')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (3, N'Access Points', N'WW')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Parts] ON 

INSERT [dbo].[Parts] ([PartsID], [Name], [CategoryID], [Price], [Currency], [WiFiStandart], [EthernetPortType], [NumberOfPorts], [ClassName], [QtyInStock], [LastModified], [SubTypeID]) VALUES (1, N'name 1', 1, 10, N'NZD', N'AC', NULL, NULL, N'SDV701common.NWirelesspart', 0, CAST(N'2020-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Parts] ([PartsID], [Name], [CategoryID], [Price], [Currency], [WiFiStandart], [EthernetPortType], [NumberOfPorts], [ClassName], [QtyInStock], [LastModified], [SubTypeID]) VALUES (2, N'name 2', 2, 5, N'USD', NULL, N'10/100/1000', NULL, N'SDV701common.NWiredPart', 0, CAST(N'2020-01-01T00:00:00.000' AS DateTime), 3)
INSERT [dbo].[Parts] ([PartsID], [Name], [CategoryID], [Price], [Currency], [WiFiStandart], [EthernetPortType], [NumberOfPorts], [ClassName], [QtyInStock], [LastModified], [SubTypeID]) VALUES (3, N'name 3', 3, 30, N'USD', N'G', N'10/100', NULL, N'SDV701common.NWiredWirelesspart', 0, CAST(N'2020-01-01T00:00:00.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Parts] OFF
SET IDENTITY_INSERT [dbo].[SubTypes] ON 

INSERT [dbo].[SubTypes] ([SubTypeID], [SubTypeName], [SubTypeDescription]) VALUES (1, N'Wired', N'Wierd Desc')
INSERT [dbo].[SubTypes] ([SubTypeID], [SubTypeName], [SubTypeDescription]) VALUES (3, N'Wireless', N'Wireless Desc')
INSERT [dbo].[SubTypes] ([SubTypeID], [SubTypeName], [SubTypeDescription]) VALUES (4, N'Wired & Wireless', N'Both')
SET IDENTITY_INSERT [dbo].[SubTypes] OFF
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_parts] FOREIGN KEY([PartsID])
REFERENCES [dbo].[Parts] ([PartsID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_parts]
GO
ALTER TABLE [dbo].[Parts]  WITH CHECK ADD  CONSTRAINT [FK_Parts_SubTypes] FOREIGN KEY([SubTypeID])
REFERENCES [dbo].[SubTypes] ([SubTypeID])
GO
ALTER TABLE [dbo].[Parts] CHECK CONSTRAINT [FK_Parts_SubTypes]
GO
USE [master]
GO
